<html>
    <head>
        <script src="/js"></script>
        <link rel="stylesheet" href="/css">
    </head>
    <body>
        <center>
            <h1>Sudoku Solver</h1>
        </center>
        <table border="1px">
            <tr>
                <td><input type="number" min="1" max="9" id = '1'></td>
                <td><input type="number" min="1" max="9" id = '2'></td>
                <td><input type="number" min="1" max="9" id = '3'></td>
                <td><input type="number" min="1" max="9" id = '4'></td>
                <td><input type="number" min="1" max="9" id = '5'></td>
                <td><input type="number" min="1" max="9" id = '6'></td>
                <td><input type="number" min="1" max="9" id = '7'></td>
                <td><input type="number" min="1" max="9" id = '8'></td>
                <td><input type="number" min="1" max="9" id = '9'></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" id = 'a1'></td>
                <td><input type="number" min="1" max="9" id = 'a2'></td>
                <td><input type="number" min="1" max="9" id = 'a3'></td>
                <td><input type="number" min="1" max="9" id = 'a4'></td>
                <td><input type="number" min="1" max="9" id = 'a5'></td>
                <td><input type="number" min="1" max="9" id = 'a6'></td>
                <td><input type="number" min="1" max="9" id = 'a7'></td>
                <td><input type="number" min="1" max="9" id = 'a8'></td>
                <td><input type="number" min="1" max="9" id = 'a9'></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" id = 'b1'></td>
                <td><input type="number" min="1" max="9" id = 'b2'></td>
                <td><input type="number" min="1" max="9" id = 'b3'></td>
                <td><input type="number" min="1" max="9" id = 'b4'></td>
                <td><input type="number" min="1" max="9" id = 'b5'></td>
                <td><input type="number" min="1" max="9" id = 'b6'></td>
                <td><input type="number" min="1" max="9" id = 'b7'></td>
                <td><input type="number" min="1" max="9" id = 'b8'></td>
                <td><input type="number" min="1" max="9" id = 'b9'></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" id = 'c1'></td>
                <td><input type="number" min="1" max="9" id = 'c2'></td>
                <td><input type="number" min="1" max="9" id = 'c3'></td>
                <td><input type="number" min="1" max="9" id = 'c4'></td>
                <td><input type="number" min="1" max="9" id = 'c5'></td>
                <td><input type="number" min="1" max="9" id = 'c6'></td>
                <td><input type="number" min="1" max="9" id = 'c7'></td>
                <td><input type="number" min="1" max="9" id = 'c8'></td>
                <td><input type="number" min="1" max="9" id = 'c9'></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" id = 'd1'></td>
                <td><input type="number" min="1" max="9" id = 'd2'></td>
                <td><input type="number" min="1" max="9" id = 'd3'></td>
                <td><input type="number" min="1" max="9" id = 'd4'></td>
                <td><input type="number" min="1" max="9" id = 'd5'></td>
                <td><input type="number" min="1" max="9" id = 'd6'></td>
                <td><input type="number" min="1" max="9" id = 'd7'></td>
                <td><input type="number" min="1" max="9" id = 'd8'></td>
                <td><input type="number" min="1" max="9" id = 'd9'></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" id = 'e1'></td>
                <td><input type="number" min="1" max="9" id = 'e2'></td>
                <td><input type="number" min="1" max="9" id = 'e3'></td>
                <td><input type="number" min="1" max="9" id = 'e4'></td>
                <td><input type="number" min="1" max="9" id = 'e5'></td>
                <td><input type="number" min="1" max="9" id = 'e6'></td>
                <td><input type="number" min="1" max="9" id = 'e7'></td>
                <td><input type="number" min="1" max="9" id = 'e8'></td>
                <td><input type="number" min="1" max="9" id = 'e9'></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" id = 'f1'></td>
                <td><input type="number" min="1" max="9" id = 'f2'></td>
                <td><input type="number" min="1" max="9" id = 'f3'></td>
                <td><input type="number" min="1" max="9" id = 'f4'></td>
                <td><input type="number" min="1" max="9" id = 'f5'></td>
                <td><input type="number" min="1" max="9" id = 'f6'></td>
                <td><input type="number" min="1" max="9" id = 'f7'></td>
                <td><input type="number" min="1" max="9" id = 'f8'></td>
                <td><input type="number" min="1" max="9" id = 'f9'></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" id = 'g1'></td>
                <td><input type="number" min="1" max="9" id = 'g2'></td>
                <td><input type="number" min="1" max="9" id = 'g3'></td>
                <td><input type="number" min="1" max="9" id = 'g4'></td>
                <td><input type="number" min="1" max="9" id = 'g5'></td>
                <td><input type="number" min="1" max="9" id = 'g6'></td>
                <td><input type="number" min="1" max="9" id = 'g7'></td>
                <td><input type="number" min="1" max="9" id = 'g8'></td>
                <td><input type="number" min="1" max="9" id = 'g9'></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" id = 'h1'></td>
                <td><input type="number" min="1" max="9" id = 'h2'></td>
                <td><input type="number" min="1" max="9" id = 'h3'></td>
                <td><input type="number" min="1" max="9" id = 'h4'></td>
                <td><input type="number" min="1" max="9" id = 'h5'></td>
                <td><input type="number" min="1" max="9" id = 'h6'></td>
                <td><input type="number" min="1" max="9" id = 'h7'></td>
                <td><input type="number" min="1" max="9" id = 'h8'></td>
                <td><input type="number" min="1" max="9" id = 'h9'></td>
            </tr>
        </table>
    <button class="button" style="vertical-align:middle" onclick="clickSolve();">
        <span>Solve </span>
    </button>
    <div id = "solved"></div>
    </body>
</html>
